body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

header{
background:#2874f0;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

header a{
color:white;
margin:10px;
text-decoration:none;
}

.controls{
text-align:center;
padding:10px;
}

#list{
padding:15px;
}

.card{
background:white;
margin:10px;
padding:12px;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

button{
background:#2874f0;
color:white;
border:none;
padding:6px 10px;
border-radius:5px;
margin:5px;
cursor:pointer;
}

.center{
text-align:center;
margin-top:120px;
}